[submodule "Arduino/libraries/pubsubclient"]
	path = Arduino/libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "Arduino/libraries/WiFiManager"]
	path = Arduino/libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager
[submodule "Arduino/libraries/TelnetStream"]
	path = Arduino/libraries/TelnetStream
	url = https://github.com/jandrassy/TelnetStream
